*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body {
    height : 100%;
    overflow : scroll;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none;
    touch-action:auto;
}

#audio{
    position: relative;
    width: 100%;
    height: 30px;
    margin-top: 50px;
    z-index: 30;
}

.wrapper{
    position: relative;
    width: 445px;
    height: 790px;
    margin: 0 auto;
    background-image: url("../images/bg.png");
    background-size: cover;
    padding: 30px;
}

.game-play{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    left: 0;
    top: 0;
    color: #fff;
    font-size: 50px;
    z-index: 20;
}

.game-play > button{
    padding: 0.5rem 1rem;
    color:#fff;
    background: salmon;
    border:none;
    cursor: pointer;
    margin-top:10px;
}

.game-text {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    left: 0;
    top: 0;
    color: #fff;
    font-size: 50px;
    z-index: 20;
}

.game-text > button{
    padding: 0.5rem 1rem;
    color:#fff;
    background: salmon;
    border:none;
    cursor: pointer;
    margin-top:10px;
}

.score-text,.time-text{
    font-size: 30px;
}

.mouse-focus{
    display: none;
    position:fixed;
    border:1px solid red;
    background-color:rgb(128, 0, 0, 0.3);
    width: 0;
    height: 0;
    top: 0;
    left: 0;
}

.focus-on{
    /* background: red; */
    border: 2px solid red !important;
}

.seized{
    position: relative;
    opacity: 0;
}

.top-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 64px;
    background-image: url("../images/top_bar.png");
    background-size: cover;
    padding: 10px;
    margin-bottom: 10px;
}

.top-nav{
    display: flex;
    justify-content: space-between;
}

.top-nav > li{
    width: 69px;
    height: 50px;
    text-align: center;
}

.score{
    padding-top: 20px;
    width: 60px;
    height: 50px;
    background-image: url("../images/score_frame.png");
    background-size: cover;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.reset-btn{
    width: 50px !important;
    background-image: url("../images/re_item.png");
    background-size: cover;
    cursor: pointer;
    z-index: 10;
}

.energy-bar{
    width:100%;
    height: 26px;
    background-image: url("../images/energy_bar.png");
    background-size: cover;
    padding-left: 5px;
    margin-bottom: 10px;
    pointer-events: none;
}

.energy-box{
    width:100%;
    overflow: hidden;
    border-radius: 15%;
    pointer-events: none;
}

.energy{
    position: relative;
    width:93%;
    height: 8px;
    object-fit: cover;
    left: 0;
    pointer-events: none;
}

.energy.vibration{
    animation-name: energy-animation;
    animation-duration: 300ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* energy animation  */
@keyframes energy-animation {
    10%, 90% {
        transform: translate3d(0, -1px, 0);
      }
      
      20%, 80% {
        transform: translate3d(0, 1px, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(0, -1px, 0);
      }
    
      40%, 60% {
        transform: translate3d(0, 1px, 0);
      }
}

.game-frame{
    width:100%;
    height: 545px;
    background-image: url("../images/game_frame.png");
    background-size: cover;
    padding: 10px;
}

.playground{
    width: 100%;
    height: 100%;
}

.playground > ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid #333; */
    width: 100%;
    height: 100%;
    margin: 0 auto;    
}
.playground > ul > li {
    width: 100%;
    height: 30px;
}
.playground > ul > li > ul{
    display : flex;
    justify-content: space-between;
}
.playground > ul > li > ul > li{
    width: 30px;
    height: 30px;
    /* outline: 1px solid #ccc; */
    border: 1px solid #ccc;
    border-radius: 50%;
}

/* tab */

.tab {
	padding-top: 50px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	background: #fff;
	width: 70%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-weight: 300;
	color: #888;
	-webkit-font-smoothing: antialiased;
}

.tabs {
	display: table;
	position: relative;
	overflow: hidden;
	margin: 0;
	width: 100%;
}


.tabs li {
    float: left;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.tabs a {
    background-color: #eff0f2;
    border-bottom: 1px solid #fff;
    color: #888;
    font-weight: 500;
    display: block;
    letter-spacing: 0;
    outline: none;
    padding: 0 20px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid blue;
}

.tabs_item {
	display: none;
	padding: 30px 0;
}

.current a {
	color: #fff;
	background: blue;
}
